{% extends "base.html" %}

{% block title %}Find Your Agent | {% endblock %}

{% block content %}
<h1>Find Your Agent</h1>
<form action="/find_your_agent" method="POST">
    <div class="label-and-input">
        <label>Agent Type:</label>
        <input type="radio" name="Agent_Type" id="duelist" value="duelist" required>
        <label class="form-item-labels" for="duelist">
            <img class="form-icons" src="{{ url_for('static', filename='duelist.png') }}" title="Duelist" alt="Duelist">
        </label>
        <input type="radio" name="Agent_Type" id="initiator" value="initiator">
        <label class="form-item-labels" for="initiator">
            <img class="form-icons" src="{{ url_for('static', filename='initiator.png') }}" title="Initiator" alt="Initiator">
        </label>
        <input type="radio" name="Agent_Type" id="controller" value="controller">
        <label class="form-item-labels" for="controller">
            <img class="form-icons" src="{{ url_for('static', filename='controller.png') }}" title="Controller" alt="Controller">
        </label>
        <input type="radio" name="Agent_Type" id="sentinel" value="sentinel">
        <label class="form-item-labels" for="sentinel">
            <img class="form-icons" src="{{ url_for('static', filename='sentinel.png') }}" title="Sentinel" alt="Sentinel">
        </label>    
    </div>

    <div class="label-and-input">
        <label>Ability Preference:</label>
        <input type="radio" name="Ability_Preference" id="flashes-stuns" value="flashes-stuns" required>
        <label class="form-item-labels" for="flashes-stuns">
            <img class="form-icons" src="{{ url_for('static', filename='flashes-stuns.png') }}" title="Flashes/Stuns" alt="Flashes/Stuns">
        </label>
        <input type="radio" name="Ability_Preference" id="smokes" value="smokes">
        <label class="form-item-labels" for="smokes">
            <img class="form-icons" src="{{ url_for('static', filename='smokes.png') }}" title="Smokes" alt="Smokes">
        </label>
        <input type="radio" name="Ability_Preference" id="healing" value="healing">
        <label class="form-item-labels" for="healing">
            <img class="form-icons" src="{{ url_for('static', filename='healing.png') }}" title="Healing" alt="Healing">
        </label>
        <input type="radio" name="Ability_Preference" id="agility" value="agility">
        <label class="form-item-labels" for="agility">
            <img class="form-icons" src="{{ url_for('static', filename='agility.png') }}" title="Agility" alt="Agility">
        </label>
        <input type="radio" name="Ability_Preference" id="information" value="information">
        <label class="form-item-labels" for="information">
            <img class="form-icons" src="{{ url_for('static', filename='information.png') }}" title="Information" alt="Information">
        </label>
    </div>

    <div class="label-and-input">
        <label>Preferred Gun Type:</label>
        <input type="radio" name="Gun_Type" id="smgs" value="smgs" required>
        <label class="form-item-labels" for="smgs">
            <img class="form-icons" src="{{ url_for('static', filename='smgs.avif') }}" title="SMGs" alt="SMGs">
        </label>
        <input type="radio" name="Gun_Type" id="shotguns" value="shotguns">
        <label class="form-item-labels" for="shotguns">
            <img class="form-icons" src="{{ url_for('static', filename='shotguns.avif') }}" title="Shotguns" alt="Shotguns">
        </label>
        <input type="radio" name="Gun_Type" id="rifles" value="rifles">
        <label class="form-item-labels" for="rifles">
            <img class="form-icons" src="{{ url_for('static', filename='rifles.avif') }}" title="Rifles" alt="Rifles">
        </label>
        <input type="radio" name="Gun_Type" id="snipers" value="snipers">
        <label class="form-item-labels" for="snipers">
            <img class="form-icons" src="{{ url_for('static', filename='snipers.jpg') }}" title="Snipers" alt="Snipers">
        </label>
        <input type="radio" name="Gun_Type" id="machine-guns" value="machine-guns">
        <label class="form-item-labels" for="machine-guns">
            <img class="form-icons" src="{{ url_for('static', filename='machine-guns.png') }}" title="Machine Guns" alt="Machine Guns">
        </label>
    </div>

    <div class="label-and-input">
        <label for="Playstyle">Playstyle:</label>
        <select name="Playstyle" id="Playstyle" required>
            <option value="balanced">Balanced</option>
            <option value="aggressive">Aggressive</option>
            <option value="supportive">Supportive</option>
            <option value="Map-control">Map-control</option>
            <option value="info-gathering">Info-gathering</option>
        </select>
    </div>
    <div class="label-and-input">
        <label for="Difficulty">Difficult to play?:</label>
        <input type="checkbox" name="Difficulty" id="Difficulty">
    </div>
    <button type="submit">Find Your Agent</button>
    <button type="reset">Reset</button>
</form>
{% endblock %}