{% extends "base.html" %}

{% block title %}Home | {% endblock %}

{% block page_header %}Valorant Agent Picker{% endblock %}

{% block content %}
    <div class="content-section">
        <p>
            Welcome to the Valorant Agent Picker! Whether you're a seasoned player or a newcomer to the exciting world of Valorant, finding the perfect agent to match your playstyle can be a challenge. Our tool is designed to help you make the best choice, ensuring you dominate the battlefield with confidence.
        </p>
        <p>
            Valorant agents come in all shapes and sizes, each equipped with unique abilities and playstyles. From stealthy assassins to defensive strategists, the game offers a diverse roster to suit your preferences. Explore the lineup and discover what makes each agent special.
        </p>
        <p>
            Take the leap today—click "Find Your Agent" and uncover the hero within you. Your journey to mastering Valorant begins here. Let’s defy the limits together!
        </p>
    </div>
    <a href="find_your_agent"><button>Find Your Agent</button></a>
{% endblock %}